[Unit]
Description=$name_pascal_case$ Service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www
Environment="DATABASE_URL={{DATABASE_URL}}"
Environment="FCM_SERVER_KEY={{FCM_SERVER_KEY}}"
ExecStart=/usr/bin/serve -s "{{dest_server_path}}/$name_snake_case$_admin_web"


[Install]
WantedBy=multi-user.target
